<div id='container'>
<!-- Your code here -->
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
    </ul>
    <a href='/logout' class='logout'>Logout</a>
  </div>
  <form name='shortForm' novalidate> 
    <input type='url' ng-model='link.url' required />
    <button ng-click='addLink()'>Add</button>
  </form>
  <div class='alert'>
    <span class='urlError' ng-show='shortForm.$error.url && shortForm.$dirty'>Invalid Entry</span>
    <span class='reqError' ng-show='shortForm.$error.required && shortForm.$dirty'>Please enter Valid URL</span>
  </div>
  <hr>
  <span>{{ shortForm.$valid }}</span>
</div>


