<div id='container'>
<!-- Your code here -->
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
    </ul>
    <a href='/logout' class='logout'>Logout</a>
  </div>
  <form name='shortForm'> 
    <input type='url' ng-model='link.url' />
    <button ng-click='addLink()'>Add</button>
  </form>
  <!-- <span ng-show='{{ $valid }}'>ISVALID?</span> -->
  <hr>
  <span>{{ shortForm.$valid }}</span>
</div>


